<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
    <key>Label</key>
    <string>com.wai-cli-1.service</string>
    
    <key>ProgramArguments</key>
    <array>
        <string>/bin/zsh</string>
        <string>-lc</string>
        <string>/Users/YOUR_USERNAME/.local/bin/wai run</string>
    </array>
    
    <key>EnvironmentVariables</key>
    <dict>
        <key>W_AI_API_KEY</key>
        <string>YOUR_API_KEY</string>
    </dict>
    
    <key>RunAtLoad</key>
    <false/>
    
    <key>KeepAlive</key>
    <dict>
        <key>SuccessfulExit</key>
        <false/>
    </dict>
    
    <key>ThrottleInterval</key>
    <integer>30</integer>
    
    <key>StandardOutPath</key>
    <string>/tmp/wai-cli-1.out</string>
    
    <key>StandardErrorPath</key>
    <string>/tmp/wai-cli-1.err</string>
</dict>
</plist>
